<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>♣☞메인 페이지☜♣</h2>
    <a href='/students/list'>☆♡학생리스트페이지♡☆</a><br>
    <a href='/students/view'>☆★☆★☆★학생상세★☆★☆★☆</a><br>
    <a href='/students/write'>◎학생입력◎</a><br>
    <a href='/students/delete'>♪♬학생삭제♪♬</a><br>

    <br>
    <p>🛸　　　 　🌎　°　　🌓　•　　.°•　　　🚀 ✯</p>
    <p>　　　★　*　　　　　°　　　　🛰 　°·　　   🪐</p>
    <p>.　　　•　° ★　•  ☄</p>
    <p>▁▂▃▄▅▆▇▇▆▅▄▃▁▂</p>
    <br>
    <a>.　　　　　*｡☆</a><br>
    <a>　　　　　+ﾟ☆*　요잇!</a><br>
    <a>　　　　ﾟ｡;*｜∧ ∧　너에게</a><br>
    <a>　　　･ﾟ＊* ∩･ω･`)　마법을 줄게!</a><br>
    <a>　　 ☆:+｡･　ﾉ　　⊃</a><br>
    <a>　+*:＊+*･　 し－Ｊ</a><br>
    <a>:*:ﾟ･ ｡☆</a>
</body>
</html>