<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        <li><a href='/admin'>관리자 페이지</a></li>
        <li><a href='/students/list'>students-list</a></li>
        <li><a href='/students/write'>students-write</a></li>
        <li><a href='/students/update'>students-update</a></li>
        <li><a href='/students/delete'>students-delete</a></li>
        <li><a href='/event'>event</a></li>
        <li><a href='/member'>member</a></li>
    </ul>
</body>
</html>